.card-header {
  color: whitesmoke;
  background-color: #212529 !important;
  width: 100%;
}

.card {
  margin-top: 4%;
  margin-bottom: 4%;
}

.btn {
  border-color: #212529;
  margin-top: 1%;
  margin-bottom: 1%;
}

.btn:hover {
  background-color: #ababac;
}

input {
  margin-top: 2%;
  margin-bottom: 1%;
}

* {
  font-family: 'IBM Plex Sans', sans-serif;
}